[
  {
    "name": "jenkins-master",
    "image": "815424868116.dkr.ecr.us-west-2.amazonaws.com/jenkins-master:latest",
    "cpu": 128,
    "memory": 1024,
    "essential": true,
    "portMappings": [
      {
        "containerPort": 8080,
        "hostPort": 8080
      },
      {
        "containerPort": 50000,
        "hostPort": 50000
      }
    ],
    "mountPoints": [
      {
        "sourceVolume": "jenkins_home",
        "containerPath": "/var/jenkins_home"
      }
    ]
  }
]